<h1 class="centered"><%= @album.title %></h1>

<div class="album-images">
  <% @album.images.each do |image| %>
    <%=image_tag image.image %> 
  <% end %>
  <%= button_to "New Image", new_image_path, {:class => "btn btn-blue", :method => :get} %>
</div>
