/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Google Webfont Import
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

$fontStack: "Open Sans", Verdana, Arial, sans-serif;
$blue: hsla(211, 68%, 57%, 1);
$red: #FF4444;
$darkBlue: darken($blue, 20%);
$superLightGray: #efefef;
$lightGray: #cbcbcb;
$darkGray: #888;
$superDarkGray: #222;
$padding-amt: .5em .8em;
$transWhite: hsla(360, 100%, 100%, 0.31);

a {
  color: $blue;
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
  background: $superLightGray;
  font-family: $fontStack;

  // Because browsers are dumb
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.white {
  text-color: white;
}

.home-feat-bg { 
  background: url(http://ppcdn.500px.org/50933192/976b95f44160cbf37b45858605cb7aec88d904af/2048.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.l-stacked {
  display: block;
}

.l-center {
  margin: 0 auto;
}

@mixin box-shadow($horiz, $vert, $asd, $spread, $color) {
  -moz-box-shadow: $horiz $vert $asd $spread $color;
  -webkit-box-shadow: $horiz $vert $asd $spread $color;
  box-shadow: $horiz $vert $asd $spread $color;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: $padding-amt;
  color: white;
  margin-bottom: 1em;
}

.btn-large {
  width: 70%;
  @media (min-width: 400px) {
    width: 300px
  }
}

.shadow {
  @include box-shadow(0px, 3px, 5px, 0px, #333)
}

.btn-default {
  background: $lightGray;
  &:hover { background: darken($lightGray, 5%) }
  &:active { @include box-shadow(inset, 0, 0, 5px, darken($lightGray, 20%)) }
}

.btn-blue {
  background: $blue;
  &:hover { background: darken($blue, 5%) }
  &:active { @include box-shadow(inset, 0, 0, 5px, $darkBlue) }
}

.btn-red {
  background: $red;
  &:hover { background: darken($red, 5%) }
  &:active { @include box-shadow(inset, 0, 0, 5px, darken($red, 20%)) }
}

.centered {
  text-align: center;
}

.main-navbar {
  background: $superDarkGray;
  color: white;
  height: 40px;
  .username {
    float: right;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    li { display: inline; }
  }
  margin-bottom: 2em;
}

.state-button {
  float: right;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea, input {
  background: white;
  border: 1px solid $lightGray;
  padding: $padding-amt;
  font-family: $fontStack;
  font-size: 1.3em;
  margin-bottom: .5em !important;
}

.stack-unstack {
  display: block;
  @media (min-width: 700px) {
    display: inline-block;
  }
}

#logo {
  height: 45px;
}

#footer {
  margi-top: 2em;
}

.transparent-white {
  background: $transWhite;
  padding: 1em;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.main {
  margin: 4em 0;
}

.gravatar-top {
  float: right;
}

.username {
  float: right;
  vertical-align: top;
  margin: 10px 2em 0 .5em;
}

.user-meta-link {
  text-decoration: none;
  color: inherit;
}

.settings-cog {
  float: right;
  height: 40px;
  font-size: 1.8em;
  margin-right: .5em;
  color: white;
  &:hover {
    color: darken(white, 15%);
  }
}

.profile-wrapper {
  white-space: nowrap;
}

.profile-sidebar {
  clear: left;
  height: 100%;
  float: left;
  margin: 0 2em 0 2em;
}

.profile-images {
  display: inline-block;
  white-space: normal;
  width: 100%;
  img {
    height: 200px;
    display: inline-block;
  }
}

.full-image {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}

